# SPDX-FileCopyrightText: 2026 TSUKUMO Akito <tsukumoakito99@duck.com>
# SPDX-License-Identifier: MIT

private/
**/src/
**/pkg/
*.tar.*
*.pkg.tar.*
*.sig
*.log
**/zig-out/
**/.zig-cache/
*.exe
*.o
*.pdb
*~
.DS_Store
